@media (max-width: 1023px ) {

  .new-tweet{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .tweet-box {
    display: flex;
    flex-direction: column;
  }

  #tweet-text {
    border-style: none; 
    border-bottom: 4px solid #545149; 
    background-color: transparent;
    outline: none;
    height: 30px;
    resize: none;
  }

  .tweet-button {
    background-color: #4056A1;
    margin: 5px;
    color: #FFFFFF;
    font-family: bungee;
  }

  #tweet-char-counter {
    text-align: right;
    font-family: bungee;
  }

  .button-counter {
    display: flex;
    justify-content: space-between;
  }

  .box-label {
    z-index: 10;
  }

  textarea {
    color: #545149;
    font-family: Source Sans Pro;
  }


  .alert-messaging {
    border: 3px solid red;
    margin-top: -17px;
    margin-bottom: 8px;
    height: 35px;
    color: red;
    text-align: center;
  }

  .alert-box-container {
    height: 1.5em;
  }
}

#tweet-text {
  border-style: none; 
  border-bottom: 4px solid #545149; 
  background-color: transparent;
  outline: none;
  height: 30px;
  resize: none;
}