/* @media (min-width: 1024px ) {
  .user-header {
    order: 1;
    align-self: flex-start;
    width: 33%;
    height: 65%;
  }
} /* Mobile View */
@media (max-width: 1023px ) {

  .user-header {
    background-color: #d89a39;
    color: white;
    background-image: url(../images/blizzard.png);
    margin-top: 0;
    width: 100%;
    height: 100vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .user-full-name {
    margin-top: -12%;
    margin-bottom: -1em;
  }

  
}
/* Desktop View */
@media (min-width: 1024px ) {

  .user-header{
    background-color: #d89a39;
    color: white;
    background-image: url(../images/blizzard.png);
    margin-top: 6.5em;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vw;
    width: 30vw;
    font-size: 1.5em;

  }

  img {
    border-style: none;
    padding-top: 1em;
    align-self: center;
  }

  .user-full-name {
    margin-top: -35%;
    margin-bottom: -1em;
  }
}