header {
  display: flex;
  height: 400px;
  flex-basis: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#d89a39;
  background-image: url("../images/blizzard.png");
}