/* Desktop View */
@media (min-width: 1024px ) {
  @keyframes chevron-bounce {
    0% {
      transform: translateY(0);
    }

    25% {
      transform: translateY(2px);
    }

    50% {
      transform: translateY(6px);
    }

    75% {
      transform: translateY(2px);
    }
    
    100% {
      transform: translateY(0);
    }
  }
}

nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  position: fixed;
  z-index: 10;
}


.tweeter-logo {
  font-family: bungee, sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  align-self: center;
  padding: 1.5em;

}

.write-tweet-button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  align-self: center;
}

.arrowicon {
  justify-items: flex-end;
  color: red;
  z-index: 20;
  animation-name: chevron-bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite
}

.clickable-text {
  cursor: pointer;
}


/* Tablet view */
@media (max-width: 1023px ) {
  @keyframes chevron-bounce {
    0% {
      transform: translateY(0);
    }

    25% {
      transform: translateY(2px);
    }

    50% {
      transform: translateY(6px);
    }

    75% {
      transform: translateY(2px);
    }
    
    100% {
      transform: translateY(0);
    }
  }

  nav {
    background-color: transparent;
    padding: 0.5em;
  }

  .tweeter-logo {
    font-family: bungee, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    align-self: center;
    padding: 1.5em;
    z-index: 0;
  
  }
}


/* Mobile view */
 @media (max-width: 600px ) {
  .write-tweet-button-container {
    margin-top: 1em;
  }

} 