/*Main Nav bar color and font */ 
nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  position: fixed;
  z-index: 10;
}

.write-tweet-button-container {
  color: #FFFFFF;
  align-self: center;
}

.tweeter-logo {
  font-family: bungee, sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  align-self: center;
  padding: 1.5em;

}

.tweet-button-container{
  font-family: bungee, sans-serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrowicon {
  color: red;
}

