/*##### DESKTOP VIEW ##########*/
/* @media (min-width: 1024px ) {
  .user-header {
    order: 0;
    margin-top: 5em;
    align-self: flex-start;
    width: 33%;
    height: 65%;
  }

  .all-users-tweets {
    order: 1;
    width: 50%;
  }
} */

@media (max-width: 1023px ) {

  .compose-and-view {
    display: flex;
    flex-direction: column;
    margin-top: 3.5em;
    margin-left: 0;
    width: 90%;
  }

  article {
    border: 3px solid #545149;
    display: flex;
    flex-direction: column;
    filter: opacity(75%);
    margin: 1em;
  }

  .all-users-tweets {
    margin-top: 1.5em; 
  }

  article:hover {
    box-shadow: 10px 13px 5px 0px rgba(180,183,240,1);
    filter: opacity(100%)
  }

  article:hover .hide {
    display: inline;
  }

  .hide {
    display: none; 

  }

  footer {
    border-top: 3px solid #545149;
    display: flex;
    justify-content: space-between;
    margin: 0em 1em;
    align-items: baseline;
  }

  .all-users-tweets header {
    display: flex;
    justify-content: space-between;
    margin: 0em 1em
  }

  .tweet-article-body {
    margin: 2em;
  }

  .username-with-icon {
    display: flex;
    align-items: center;
    flex-basis: 20%;
    justify-content: space-between;
  }
}

/*DESKTOP VIEW */
@media (min-width: 1023px ) {

  .compose-and-view {
    display: flex;
    flex-direction: column;
    margin-top: -8.5em;
  }

  .all-users-tweets {
    align-self: normal;
    margin-top: 9em;
  }

  article {
    border: 3px solid #545149;
    display: flex;
    flex-direction: column;
    filter: opacity(75%);
    margin: 1em;
  }


  article:hover {
    box-shadow: 10px 13px 5px 0px rgba(180,183,240,1);
    filter: opacity(100%)
  }

  article:hover .hide {
    display: inline;
  }

  .hide {
    display: none; 

  }

  footer {
    border-top: 3px solid #545149;
    display: flex;
    justify-content: space-between;
    margin: 0em 1em;
    align-items: baseline;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin: 0em 1em
  }

  .tweet-article-body {
    margin: 2em;
  }

  .username-with-icon {
    display: flex;
    align-items: center;
    flex-basis: 20%;
    justify-content: space-between;
  }
}